.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.item{
	width:90px;
	height:90px;
	font-size:40px;
	
}
#item3{
	background-color: green;
}
#item1{
	background-color: orangered;
}
#item2{
	background-color: blue;
}